body{
    background: url("https://img.freepik.com/fotos-gratis/o-papel-de-parede-azul-para-iphone-e-o-melhor-papel-de-parede-de-alta-definicao-para-iphone_1340-27554.jpg");
    background-size: cover;
    height: 100vh;
}